html,body{
    overflow-x: hidden;
}

body{
    background-color: rgba(238, 109, 113, 0.024);
}

nav.bg-dark{
    background-color: #ee6e73 !important;
}

div.container-fluid#Header{
    position: relative; /*since the child is absolute positioned overflow will work when parent (this) is relatively positioned*/
    height: calc(84vh - 70px);
    background-color: #fff;
    background-image: url('https://res.cloudinary.com/dotcom-prod/images/c_fill,f_auto,g_faces:center,q_auto,w_1920/v1/wt-cms-assets/2020/04/q11sfwoxen31pefpklk0/threefacesallwithmasks.jpg');
    background-attachment: fixed;
    background-position: 2vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid rgb(238, 109, 113);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow: 0px 0px 8px 5px rgba(238, 110, 114, 0.1);
    overflow: hidden;
}

div.container-fluid#Header > div.container-sm{
    position: absolute;
    top: 24vh;
}

div.container-fluid#Header > div.container-sm > h2{
    color:rgb(238, 109, 113);
}

div.container#content{
    margin-top: 1vh;
}

.btn, .btn-primary{
    background-color: #ee6e73;
    border-color: #ee6e73;
}
.btn:hover, .btn-primary:hover{
    background-color: #e64848;
    border-color: #e64848;
}
.container-fluid#content{
    align-items: center;
    justify-content: center;
}
.container-fluid>.card{
    border: 0px;
    border-radius: 12px;
    box-shadow: 5px 8px 3px 2px rgba(238, 110, 114, 0.1);
}
.container-fluid>.card img{
    border: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

footer a{
    color: #ea0a20;
    text-decoration: none;
}
footer a:hover{
    color: #ea0a20;
    text-decoration: underline;
}

@media only screen and (max-width: 1600px){
    .container-fluid#content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
} 

@media only screen and (max-width: 1100px) {
    div.container-fluid#Header{
        height: calc(72vh - 70px);
        background-color: #fff;
        background-image: url('https://res.cloudinary.com/dotcom-prod/images/c_fill,f_auto,g_faces:center,q_auto,w_1920/v1/wt-cms-assets/2020/04/q11sfwoxen31pefpklk0/threefacesallwithmasks.jpg');
        background-attachment: fixed;
        background-position: 20% 5%;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid rgb(238, 109, 113);
        border-bottom-left-radius: 24%;
        border-bottom-right-radius: 24%;
    }
}
@media only screen and (max-width: 800px) {
    div.container-fluid#Header{
        height: calc(72vh - 70px);
        background-color: #fff;
        background-image: url('https://res.cloudinary.com/dotcom-prod/images/c_fill,f_auto,g_faces:center,q_auto,w_1920/v1/wt-cms-assets/2020/04/q11sfwoxen31pefpklk0/threefacesallwithmasks.jpg');
        background-attachment: fixed;
        background-position: 20% -40px;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid rgb(238, 109, 113);
        border-bottom-left-radius: 24%;
        border-bottom-right-radius: 0;
    }

    .container-fluid .col-md-4{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    div.container-fluid#Header{
        height: calc(72vh - 70px);
        background-color: #fff;
        background-image: url('https://res.cloudinary.com/dotcom-prod/images/c_fill,f_auto,g_faces:center,q_auto,w_1920/v1/wt-cms-assets/2020/04/q11sfwoxen31pefpklk0/threefacesallwithmasks.jpg');
        background-attachment: fixed;
        background-position: -24px -250px;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid rgb(238, 109, 113);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}